<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telegram WIP.co timeline bot</title>
    <meta
      name="description"
      content="Create your own WIP.co todos timeline of your favorite makers on Telegram."
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="512x512" />
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <img src="/logo.svg" alt="WIP.co logo" width="48" />
      </div>

      <h1 class="text-center">Telegram WIP.co timeline bot</h1>

      <p>
        Create your own <a href="https://wip.co/">WIP.co</a> todos timeline of
        your favorite makers on Telegram.
      </p>

      <a class="btn-telegram" href="https://t.me/WipTimelineBot"
        ><b>Add to Telegram</b></a
      >

      <p class="text-center">
        <a href="https://github.com/cba85/telegram-wiptimelinebot"
          >Source code on Github</a
        >
      </p>
    </div>
  </body>
</html>
